---
pages:
  - slides:
      - intro.md
  - folder: intro
    slides:
      - intro.html
      - goals.html
      - setup.html
  - folder: cd-ci
    slides:
      - problem.html
      - solution.html
      - benefits.html
      - example.html
  - slides:
      - thanks.html
---
{% extends '_layout.html' %}

{% from '_slide.html' import slide %}

{%block content %}
<article class="flowtime">
  {% for section in pages %}
    <section class="ft-section" {% if section.title %}data-title="{{section.title}}"{% endif %}>
      {% for page in section.slides %}
        {{ slide(page, section) }}
      {% endfor %}
    </section>
  {% endfor %}
</article>
{% endblock %}
